<div class="entry">
  {{debug}}
  <h2>{{toCase lastName "upper"}}, {{firstName}}  (Age:7 years) {{dateFormat dateOfBirth format="DD-MMM-YYYY"}} </h2>
  <p>Patient summary information, I'm not sure what to put here yet. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-large">Details &raquo;</a></p>

</div>